<div id="offers-filters" class="row" data-controller="dashboard">
  <%= search_form_for @q, url: dashboard_path, method: :get, class: "form-fieldset border-0", data: { "dashboard-target": "form" } do |f| %>
    <div class="d-flex justify-content-between gap-2 align-items-end p-0">
      <div class="flex-grow-1">
        <%= f.label :title_or_company_name_cont, "Job Title or Company :", class: "form-label d-block" %>
        <%= f.text_field :title_or_company_name_cont, class: "form-control", data: { action: "blur->dashboard#submitForm" } %>
      </div>

      <div class="flex-grow-1">
        <label class="form-label">Location:</label>
        <%= text_field_tag "q[location]", params.dig(:q, :location), class: "form-control", data: { action: "blur->dashboard#submitForm" } %>
      </div>

      <div>
        <label class="form-label">Distance (km):</label>
        <%= number_field_tag "q[distance]", params.dig(:q, :distance) || 10, min: 1, step: 1, class: "form-control", data: { action: "blur->dashboard#submitForm" } %>
      </div>

      <div>
        <label class="form-label">Limit:</label>
        <%= number_field_tag "limit", params.dig(:q, :distance) || 10, min: 1, step: 1, class: "form-control", data: { action: "blur->dashboard#submitForm" } %>
      </div>

      <div class="dropdown" data-dashboard-target="dropdown">
        <a
          href="#"
          class="btn dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Verification Status
        </a>
        <div class="dropdown-menu">
          <%= f.collection_check_boxes :verification_status_in, Offer.verification_statuses, :last, :first do |b| %>
            <%= b.label class: "dropdown-item" do %>
              <%= b.check_box class: "form-check-input" %>
              <%= b.text.titleize %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="dropdown" data-dashboard-target="dropdown">
        <a
          href="#"
          class="btn dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Status
        </a>
        <div class="dropdown-menu">
          <%= f.collection_check_boxes :status_in, Offer.statuses, :last, :first do |b| %>
            <%= b.label class: "dropdown-item" do %>
              <%= b.check_box class: "form-check-input" %>
              <%= b.text.titleize %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div id="form-buttons">
        <%= f.submit "Search", class: "btn btn-primary" %>
        <%= link_to "Clear", dashboard_path, class: "btn btn-outline-danger" %>
      </div>
    </div>
    <div
      class="mt-2 d-flex flex-row flex-wrap gap-2"
      data-dashboard-target="badgesContainer"
    ></div>
  <% end %>
</div>
