<div class="col-sm-6 col-lg-4">
  <div class="card" style="min-height: 400px; max-height: 400px;">
    <div class="card-body">
      <div class="d-flex align-items-center mb-3 border-bottom pb-3">
        <div>
          <h3 class="card-title mb-0">
            <%= truncate(offer.title, length: 30) %>
          </h3>

          <p class="text-muted mb-1"><%= offer.company_name %></p>

          <%= badge_for(offer.verification_status, :verification_status) %>
          <%= badge_for(offer.status, :status) %>
        </div>
      </div>

      <div class="col">
        <div class="d-flex row align-items-center mb-2">
          <div class="col-auto">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-map-pin"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
              <path
                d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
              />
            </svg>
          </div>
          <div class="col ps-0">
            <div class="text-truncate"><%= offer.address || 'Remote' %></div>
          </div>
        </div>

        <div class="d-flex row align-items-center mb-2">
          <div class="col-auto">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-briefcase"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />

              <path
                d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
              />

              <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" />

              <path d="M12 12l0 3" />

              <path d="M15 15l-6 0" />
            </svg>
          </div>
          <div class="col ps-0">
            <div class="text-truncate">
              <%= offer.job_type.humanize(capitalize: true) || 'Full-time' %>
            </div>
          </div>
        </div>

        <div class="d-flex row align-items-center mb-2">
          <div class="col-auto">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-cash"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M7 9m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z"
              />
              <path d="M14 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
              <path
                d="M17 9v-2a2 2 0 0 0 -2 -2h-10a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h2"
              />
            </svg>
          </div>
          <div class="col ps-0">
            <div class="text-truncate">
              <%= offer.contract_type.humanize(capitalize: true) || 'Permanent' %>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-3">
        <p class="text-wrap" style="max-height: 2rem; overflow: hidden;">
          <%= truncate(offer.description.to_plain_text, length: 200) %>
          <!-- TODO: Add blur gradient effect for overflow text -->
        </p>
      </div>
    </div>

    <div class="ms-3 bg-transparent pt-0 border-0 bottom-0">
      <p class="text-muted"><small>Created: <%= offer.created_at %></small></p>
      <div>
        <%= link_to 'View', offer_path(offer), class: 'btn btn-primary' %>
        <%= link_to 'Edit', edit_offer_path(offer), class: 'btn btn-ghost-green' %>
        <%= link_to 'Delete', offer_path(offer), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-ghost-danger' %>
      </div>
    </div>
  </div>
</div>
