<%= content_for :header_buttons do %>
  <%= link_to new_offer_path, class: "btn btn-primary", data: { turbo_frame: "new_offer", bs_toggle: "modal", bs_target: "#new-offer-modal" } do %>
    <i class="ti ti-plus me-2"></i>
    New Offer
  <% end %>
<% end %>

<%= turbo_frame_tag "new_offer", src: new_offer_path, target: :_top %>

<section class="mt-4" id="statistics-section">
  <div class="row row-cards">
    <div class="col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="subheader">Total views</div>

          <div class="h1 mb-2 align-middle"><%= @view_count %></div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="subheader">Total interactions</div>

          <h1 class="h1 mb-2"><%= @interaction_count %></h1>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="subheader">Total applications</div>

          <h1 class="h1 mb-2"><%= @application_count %></h1>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="mb-2">

<section id="offers-section">
  <%= render "offer_filters" %>

  <% if @offers.empty? %>
    <div class="empty">
      <div class="empty">
        <div class="empty-icon">
          <i class="ti ti-mood-sad" style="font-size: 50px"></i>
        </div>

        <p class="empty-title">No results found</p>

        <p class="empty-subtitle text-secondary">
          Try adjusting your search or filter to find what you're looking for.
        </p>

        <div class="empty-action">
          <button
            type="button"
            class="btn btn-primary mb-3"
            data-bs-toggle="modal"
            data-bs-target="#new-offer-modal"
          >
            <i class="ti ti-plus me-2"></i>
            New Offer
          </button>
        </div>
      </div>
    </div>
  <% end %>

  <% if @offers.any? %>
    <div class="row row-cards">
      <% @offers.each do |offer| %>
        <%= render partial: "offer_card", locals: { offer: offer } %>
      <% end %>
    </div>
  <% end %>

  <div class="d-flex justify-content-center py-4">
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</section>
