<div>
  <%= form_with(model: @user, local: true) do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="gap-4 mb-4">
      <%= form.label :email_address %>
      <%= form.email_field :email_address, class: "block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="gap-4 mb-4">
      <%= form.label :password %>
      <%= form.password_field :password, class: "block shadow-sm rounded-lg border px-3 py-2 w-full" %>
    </div>

    <div class="gap-4 mb-4">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, class: "block shadow-sm rounded-lg border px-3 py-2 w-full" %>
    </div>

    <div class="actions">
      <%= form.submit "Create Account", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded hover:cursor-pointer" %>
    </div>
  <% end %>
</div>
