<div class="modal modal-blur fade" id="new-offer-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">New Offer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <%= form_with(model: offer) do |form| %>
          <% if offer.errors.any? %>
            <div class="alert alert-danger" style="color: red">
              <h4 class="alert-title"><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h4>
              <ul>
                <% offer.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div>
            <%= form.label :company_name, class: "form-label" %>
            <%= form.text_field :company_name, class: "form-control" %>
          </div>
          <div>
            <%= form.label :title, class: "form-label" %>
            <%= form.text_field :title, class: "form-control" %>
          </div>
          <div>
            <%= form.label :description, class: "form-label" %>
            <%= form.textarea :description, class: "form-control" %>
          </div>
          <div>
            <%= form.label :address, class: "form-label" %>
            <%= form.text_field :address, class: "form-control" %>
          </div>
          <div>
            <%= form.label :application_link, class: "form-label" %>
            <%= form.text_field :application_link, class: "form-control" %>
          </div>
          <div>
            <%= form.label :contract_type, class: "form-label" %>
            <%= form.select :contract_type, Offer.contract_types.keys, {}, class: "form-select" %>
          </div>
          <div>
            <%= form.label :job_type, class: "form-label" %>
            <%= form.select :job_type, Offer.job_types.keys, {}, class: "form-select" %>
          </div>
          <div>
            <%= form.label :verification_status, class: "form-label" %>
            <%= form.select :verification_status, Offer.verification_statuses.keys, {}, class: "form-select" %>
          </div>
          <div>
            <%= form.label :status, class: "form-label" %>
            <%= form.select :status, Offer.statuses.keys, {}, class: "form-select" %>
          </div>

          <div class="modal-footer">
            <%= form.submit "Create Offer", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
