<div class="relative" data-controller="dropdown" data-action="click->dropdown#hide">
  <button type="button" class="<%= button_classes %>"
          data-action="click->dropdown#toggle:stop">
    <%= title %>
  </button>

  <div class="hidden absolute z-10 mt-2 w-48 bg-white rounded-lg shadow-lg ring-1 ring-black ring-opacity-5"
       data-dropdown-target="menu">
    <div class="py-1">
      <% options.each do |key, value| %>
        <label class="cursor-pointer flex items-center px-4 py-2 hover:bg-gray-100">
          <%= form.check_box field_name,
            { multiple: true, class: "peer hidden", data: { action: "change->filter-display#submitForm" } },
            value,
            nil %>
          <span class="px-3 py-1.5 rounded-full text-sm border border-gray-200 text-gray-600 transition <%= colour_helper.call(key) %> whitespace-nowrap">
            <%= key.titleize %>
          </span>
        </label>
      <% end %>
    </div>
  </div>

</div>


