<%= form_with(model: offer) do |form| %>
  <% if offer.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-title">
        <%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:
      </h4>
      <ul>
        <% offer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hr-text mt-0">Basic Information</div>

  <div class="d-flex flex-column gap-5 mb-6">
    <div class="d-flex flex-row gap-2">
      <%= form.label :company_name, class: "form-label col-sm-2 align-self-center required" %>
      <%= form.text_field :company_name, class: "form-control col", required: true %>
    </div>

    <div class="d-flex flex-row gap-2">
      <%= form.label :title, class: "form-label col-sm-2 align-self-center required" %>
      <%= form.text_field :title, class: "form-control col", required: true %>
    </div>

    <div class="d-flex flex-row gap-2">
      <%= form.label :address, class: "form-label col-sm-2 align-self-center required" %>
      <%= form.text_field :address, class: "form-control col", required: true %>
    </div>

    <div class="d-flex flex-row gap-2">
      <%= form.label :application_link, class: "form-label col-sm-2 align-self-center required" %>
      <%= form.text_field :application_link, class: "form-control col", required: true %>
    </div>
  </div>

  <div class="hr-text">Tags</div>

  <div class="d-flex gap-2 mb-6">
    <div class="col">
      <%= form.label :contract_type, class: "form-label" %>
      <%= form.select :contract_type, contract_type_options, {}, class: "form-select" %>
    </div>

    <div class="col">
      <%= form.label :job_type, class: "form-label" %>
      <%= form.select :job_type, job_type_options, {}, class: "form-select" %>
    </div>
  </div>

  <% if offer.persisted? %>
    <div class="hr-text">Status</div>
    <div>
      <%= form.label :status, class: "form-label" %>
      <%= form.select :status, status_options, {}, class: "form-select" %>
    </div>
  <% end %>

  <div class="hr-text">Job Description</div>

  <div>
    <%= form.rich_textarea :description, class: "form-control", style: "min-height: 20rem;" %>
  </div>

  <hr>

  <div class="d-flex align-items-end gap-2 p-0">
    <%= form.submit submit_label, class: "btn btn-primary" %>
    <% unless offer.persisted? %>
      <%= form.submit "#{submit_label} & Publish", class: "btn btn-primary", name: "publish_offer" %>
    <% end %>
  </div>
<% end %>
