<%= form_with(model: offer, class: "contents") do |form| %>
  <% if offer.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul class="list-disc ml-6">
        <% offer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :company_name %>
    <%= form.text_field :company_name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": offer.errors[:company_name].none?, "border-red-400 focus:outline-red-600": offer.errors[:company_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": offer.errors[:title].none?, "border-red-400 focus:outline-red-600": offer.errors[:title].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.rich_text_area :description, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": offer.errors[:description].none?, "border-red-400 focus:outline-red-600": offer.errors[:description].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :city %>
    <%= form.text_field :city, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": offer.errors[:city].none?, "border-red-400 focus:outline-red-600": offer.errors[:city].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :country %>
    <%= form.text_field :country, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": offer.errors[:country].none?, "border-red-400 focus:outline-red-600": offer.errors[:country].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :apply_link %>
    <%= form.text_field :apply_link, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": offer.errors[:apply_link].none?, "border-red-400 focus:outline-red-600": offer.errors[:apply_link].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :contract_type %>
    <%= form.select :contract_type, Offer.contract_types.keys, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": offer.errors[:contract_type].none?, "border-red-400 focus:outline-red-600": offer.errors[:contract_type].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :job_type %>
    <%= form.select :job_type, Offer.job_types.keys, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": offer.errors[:job_type].none?, "border-red-400 focus:outline-red-600": offer.errors[:job_type].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": offer.errors[:latitude].none?, "border-red-400 focus:outline-red-600": offer.errors[:latitude].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": offer.errors[:longitude].none?, "border-red-400 focus:outline-red-600": offer.errors[:longitude].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": offer.errors[:user_id].none?, "border-red-400 focus:outline-red-600": offer.errors[:user_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
