<div id="<%= dom_id offer %>">
  <p>
    <strong>Company name:</strong>
    <%= offer.company_name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= offer.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= offer.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= offer.address %>
  </p>

  <p>
    <strong>Application link:</strong>
    <%= offer.application_link %>
  </p>

  <p>
    <strong>Contract type:</strong>
    <%= offer.contract_type %>
  </p>

  <p>
    <strong>Job type:</strong>
    <%= offer.job_type %>
  </p>

  <p>
    <strong>Verification status:</strong>
    <%= offer.verification_status %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= offer.status %>
  </p>

</div>
