<div id="<%= dom_id offer %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Company name:</strong>
    <%= offer.company_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= offer.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= offer.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">City:</strong>
    <%= offer.city %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Country:</strong>
    <%= offer.country %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Apply link:</strong>
    <%= offer.apply_link %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Contract type:</strong>
    <%= offer.contract_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Job type:</strong>
    <%= offer.job_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= offer.user.email_address %>
  </div>
</div>
