<div id="<%= dom_id offer %>" class="accordion mb-3">
  <div class="accordion-item">
    <div class="accordion-header" id="heading-<%= offer.id %>">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= offer.id %>" aria-expanded="false" aria-controls="collapse-<%= offer.id %>">
        <h2><%= offer.title %> - <%= offer.company_name %></h2> <%= contract_type_badge(offer.contract_type) %> <%= job_type_badge(offer.job_type) %>
      </button>
    </div>
    <div id="collapse-<%= offer.id %>" class="accordion-collapse collapse" aria-labelledby="heading-<%= offer.id %>">
      <div class="accordion-body">
        <p><strong>Location:</strong> <%= offer.address %></p>
        <p><strong>Description:</strong> <%= offer.description %></p>
        <a href="<%= offer.application_link %>" class="btn btn-primary" target="_blank">Apply Now</a>
      </div>
    </div>
  </div>
</div>
