<div id="<%= dom_id offer %>" class="card mb-3">
  <div class="card-header">
    <h2 class="card-title"><%= offer.title %></h2>
  </div>
  <div class="card-body">
    <%= offer.company_name %> - <%= offer.address %> - <%= offer.job_type.humanize %> - <%= offer.contract_type.humanize %>
    <br>
    <%= offer.description %>
  </div>
  <div class="card-footer">
    <a href="<%= offer.application_link %>" class="btn btn-primary" target="_blank">Apply Now</a>
  </div>
</div>
