<div class="sticky-top py-2">
  <%= search_form_for @q, url: offers_path, method: :get, class: "form-fieldset offer-dark-bg", data: { turbo_frame: "offers_list", controller: "offers-search" } do |f| %>
    <div class="d-flex justify-content-between gap-2 align-items-end pb-2">
      <div class="flex-grow-1">
        <%= f.label :title_or_company_name_cont, "Search for Job Title or Company name:", class: "form-label d-block" %>
        <%= f.text_field :title_or_company_name_cont, class: "form-control" %>
      </div>

      <div class="flex-grow-1">
        <label class="form-label">Location:</label>
        <%= text_field_tag "q[location]", params.dig(:q, :location), class: "form-control" %>
      </div>

      <div>
        <label class="form-label">Distance (km):</label>
        <%= number_field_tag "q[distance]", params.dig(:q, :distance) || 10, min: 1, step: 1, class: "form-control", data: { action: "change->offers-search#submitForm" } %>
      </div>

      <div>
        <button
          class="btn btn-primary collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#advancedSearchCollapse"
          aria-expanded="false"
          aria-controls="advancedSearchCollapse"
        >
          <i class="ti ti-filter me-1 fs-2"></i>
          Advanced Filters
        </button>
      </div>
    </div>

    <div class="collapse mt-2" id="advancedSearchCollapse">
      <div class="p-3">
        <%= render "shared/filter_dropdown",
        form: f,
        field_name: :contract_type_in,
        options: Offer.contract_types,
        label: "Contract Type",
        badge_colour: :contract_type %>

        <%= render "shared/filter_dropdown",
        form: f,
        field_name: :job_type_in,
        options: Offer.job_types,
        label: "Job Type",
        badge_colour: :job_type %>

        <div class="mb-3">
          <label class="form-check form-switch">
            <%= f.check_box :verification_status_eq,
              { checked: params[:q] && params[:q][:verification_status_eq] == '2', class: "form-check-input", data: { action: "change->offers-search#submitForm" } },
              2, nil %>
            <%= f.label :verification_status_eq, 'Verified Offers Only' %>
          </label>
        </div>

        <div class="mb-3">
          <label class="form-check form-switch">
            Bookmarked Only
            <%= checkbox_tag "bookmarked", true, class: "form-check-input", data: { action: "change->offers-search#submitForm" } %>
          </label>
        </div>
      </div>
    </div>

    <div>
      <button type="submit" class="btn btn-primary">
        <i class="ti ti-search me-1 fs-2"></i>
        Submit
      </button>
      <%= link_to "Clear", offers_path, class: "btn" %>
    </div>
  <% end %>
</div>
