<div data-controller="dark-mode">
  <button data-action="click->dark-mode#toggle" class="btn">
    <span data-dark-mode-target="icon"></span>
  </button>
</div>
<p style="color: green"><%= notice %></p>

<% content_for :title, "Offers" %>

<div class="container mx-auto px-4 sm:px-6 md:px-8 py-6">
  <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#new-offer-modal">
    New Offer
  </button>

  <%= render "shared/form", offer: @offer %>

  <div class="sticky-top py-2">
    <%= render "search_bar" %>
  </div>

  <%= turbo_frame_tag "offers_list" do %>
    <div id="offers">
      <% if @offers.any? %>
        <% @offers.each do |offer| %>
          <%= render offer %>
        <% end %>
      <% else %>
        <div class="empty">
          <div class="empty-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
              stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <circle cx="12" cy="12" r="9" />
              <line x1="9" y1="10" x2="9.01" y2="10" />
              <line x1="15" y1="10" x2="15.01" y2="10" />
              <path d="M9.5 15.25a3.5 3.5 0 0 1 5 0" />
            </svg>
          </div>
          <p class="empty-title">No results found</p>
          <p class="empty-subtitle text-secondary">
          Try adjusting your search or filter to find what you're looking for.
          </p>
        </div>
      <% end %>
    </div>

    <% if @pagy.next %>
      <div
        id="infinite-scroll-sentinel"
        data-controller="infinite-scroll"
        data-infinite-scroll-next-url-value="<%= pagy_url_for(@pagy, @pagy.next) %>"
        data-infinite-scroll-target="sentinel">
      </div>
    <% end %>
    <div id="infinite-scroll-spinner" class="text-center py-3 d-none">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  <% end %>
</div>
