<div data-controller="dark-mode">
  <button data-action="click->dark-mode#toggle" class="btn">
    <span data-dark-mode-target="icon"></span>
  </button>
</div>
<p style="color: green"><%= notice %></p>

<% content_for :title, "Offers" %>

<div class="container mx-auto max-w-7xl px-4 sm:px-6 md:px-8 py-6">
  <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#new-offer-modal">
    New Offer
  </button>

  <%= render 'offers/form', offer: @offer %>

  <%= search_form_for @q, url: offers_path, method: :get, class: "form-fieldset", data: { turbo_frame: "offers_list", controller: "offers-search" } do |f| %>

    <div class="mb-3 mt-3">
      <%= f.label :title_or_company_name_cont, "Title or Company name:", class: "form-label" %>
      <%= f.text_field :title_or_company_name_cont, class: "form-control" %>
    </div>

    <!-- Contract Type -->
    <div class="dropdown mb-3 d-flex flex-row" data-controller="offers-search">
      <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown">Contract Type</a>
      <div class="dropdown-menu">
        <%= f.collection_check_boxes :contract_type_in, Offer.contract_types, :last, :first do |b| %>
          <%= b.label class: "form-check-label d-flex justify-content-center m-2" do %>
            <%= b.check_box class: "form-check-input hidden",
              data: { action: "offers-search#update", offers_search_target: "checkbox" } %>
              <div class="checkbox-icons" data-offers-search-target="badgeContainer">
                <i class="ti unchecked-icon dropdown-item"><%= badge_for(b.text, :contract_type_colour, false) %></i>
                <i class="ti checked-icon dropdown-item"><%= badge_for(b.text, :contract_type_colour, true) %></i>
              </div>
            <% end %>
          <% end %>
      </div>
      <div data-offers-search-target="output" class="p-2"></div>
    </div>

    <!-- Job Type -->
    <div class="dropdown mb-3 d-flex flex-row" data-controller="offers-search">
      <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown">Job Type</a>
      <div class="dropdown-menu">
        <%= f.collection_check_boxes :job_type_in, Offer.job_types, :last, :first do |b| %>
          <%= b.label class: "form-check-label d-flex justify-content-center m-2" do %>
            <%= b.check_box class: "form-check-input hidden",
              data: { action: "offers-search#update", offers_search_target: "checkbox" } %>
              <div class="checkbox-icons" data-offers-search-target="badgeContainer">
                <i class="ti unchecked-icon dropdown-item"><%= badge_for(b.text, :job_type_colour, false) %></i>
                <i class="ti checked-icon dropdown-item"><%= badge_for(b.text, :job_type_colour, true) %></i>
              </div>
            <% end %>
          <% end %>
      </div>
      <div data-offers-search-target="output" class="p-2"></div>
    </div>

    <div class="mb-3">
      <label class="form-check form-switch">
        <%= f.check_box :verification_status_eq,
          { checked: params[:q] && params[:q][:verification_status_eq] == '2', class: "form-check-input", data: { action: "change->offers-search#submitForm" }  },
          2, nil %>
          <%= f.label :verification_status_eq, 'Verified Offers Only' %>
      </label>
    </div>

    <div>
      <%= f.submit "Search", class: "btn btn-primary" %>
      <%= link_to "Clear", offers_path, class: "btn" %>
    </div>

  <% end %>

  <div id="offers">
    <%= turbo_frame_tag "offers_list" do %>
      <% if @offers.any? %>
        <% @offers.each do |offer| %>
          <%= render offer %>
        <% end %>
      <% else %>
        <div class="empty">
          <div class="empty-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
              stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <circle cx="12" cy="12" r="9" />
              <line x1="9" y1="10" x2="9.01" y2="10" />
              <line x1="15" y1="10" x2="15.01" y2="10" />
              <path d="M9.5 15.25a3.5 3.5 0 0 1 5 0" />
            </svg>
          </div>
          <p class="empty-title">No results found</p>
          <p class="empty-subtitle text-secondary">
          Try adjusting your search or filter to find what you're looking for.
          </p>
        </div>
      <% end %>
    <% end %>

  </div>

</div>
