<p style="color: green"><%= notice %></p>

<% content_for :title, "Offers" %>

<div class="container mx-auto px-4 sm:px-6 md:px-8 py-6">
  <div class="sticky-top py-2"><%= render "search_bar" %></div>

  <%= turbo_frame_tag "offers_list" do %>
    <div id="offers" data-controller="statistics">
      <% if @offers.any? %>
        <% @offers.each do |offer| %>
          <%= render offer %>
        <% end %>
      <% else %>
        <div class="empty">
          <div class="empty-icon">
            <i class="ti ti-mood-sad" style="font-size: 50px"></i>
          </div>

          <p class="empty-title">No results found</p>

          <p class="empty-subtitle text-secondary">
            Try adjusting your search or filter to find what you're looking for.
          </p>
        </div>
      <% end %>
    </div>

    <% if @pagy.next %>
      <div
        id="infinite-scroll-sentinel"
        data-controller="infinite-scroll"
        data-infinite-scroll-next-url-value="<%= pagy_url_for(@pagy, @pagy.next) %>"
        data-infinite-scroll-target="sentinel"
      ></div>
    <% end %>

    <div id="infinite-scroll-spinner" class="text-center py-3 d-none">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  <% end %>
</div>
