<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Launchpad" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="min-h-screen">
      <nav class="py-6 px-4 mx-auto md:px-8 bg-white shadow-sm sticky max-w-7xl top-4 z-50 mb-6 rounded-2xl dark:bg-slate-800">
        <div class="mx-auto max-w-7xl flex items-center grid-cols-2 justify-between">
          <div class="">
            <%= link_to "Launchpad", root_path, class: "text-3xl font-bold bg-gradient-to-r from-purple-500 via-pink-500 to-yellow-500 text-transparent bg-clip-text" %>
          </div>
          <div class="grid grid-cols-3 gap-4 justify-end">
            <%= link_to "Offers", offers_path, class: "rounded-full px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium text-center" %>
            <%= link_to "Dashboard", dashboard_path, class: "rounded-full px-4.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium text-center" %>
            <div data-controller="dark-mode">
              <%= link_to "#", class: "rounded-full px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium w-12", data: { action: "dark-mode#toggle" } do %>
                <span data-dark-mode-target="icon"></span>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
      <%= yield %>
      <%= render "shared/confirm_modal" %>
      <!-- Footer -->
      <footer class="py-12 md:py-16 text-center text-slate-600">
        <div class="container mx-auto px-4">
          <div class="flex flex-col md:flex-row justify-center md:space-x-8 mb-4">
            <a href="#" class="hover:text-slate-950 transition-colors duration-300 mb-2 md:mb-0">About</a>
            <a href="#" class="hover:text-slate-950 transition-colors duration-300 mb-2 md:mb-0">Blog</a>
            <a href="#" class="hover:text-slate-950 transition-colors duration-300 mb-2 md:mb-0">Terms & Privacy</a>
            <a href="#" class="hover:text-slate-950 transition-colors duration-300 mb-2 md:mb-0">Contact</a>
          </div>
          <p>&copy; 2024 Launchpad. All rights reserved.</p>
        </div>
      </footer>

    </main>

    
  </body>
</html>
