<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Launchpad" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>

    <!-- Footer -->
    <footer class="py-12 md:py-16 text-center text-slate-600">
      <div class="container mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-center md:space-x-8 mb-4">
          <a href="#" class="hover:text-slate-950 transition-colors duration-300 mb-2 md:mb-0">About</a>
          <a href="#" class="hover:text-slate-950 transition-colors duration-300 mb-2 md:mb-0">Blog</a>
          <a href="#" class="hover:text-slate-950 transition-colors duration-300 mb-2 md:mb-0">Terms & Privacy</a>
          <a href="#" class="hover:text-slate-950 transition-colors duration-300 mb-2 md:mb-0">Contact</a>
        </div>
        <p>&copy; 2024 Launchpad. All rights reserved.</p>
      </div>
    </footer>

  </body>
</html>
